/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
/* General style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: rgb(39, 36, 34);
    font-family:  sans-serif;
   
    
}


header {
    background-color: rgb(217, 239, 172);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 2px #4a0303;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    
}
header a {
    text-decoration: rgb(217, 239, 172);
    color: rgb(84, 84, 4);
}

h1 {
    font-family: 'Segoe UI', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #4a0303;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}
#menu > li {
    margin-bottom: 1em;
    padding-left: 1rem;
}
.active {
    border-bottom: 1px solid #d61a1a;
}
nav {
    position: absolute;
    background-color: rgb(217, 239, 172);
    width: 100%;
    left: 1;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #ab0505;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-label {
    font-size: 2rem;
    display: none;
}
/* main */
main {

    flex: 1 0 auto;
    margin-top: 47px;
    
    
}

#images-section {
    background-image: url(images/hero-image/pop.jpg);
    background-repeat:no-repeat;
    background-position: center center;
}


/* footer */
#social-networks {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}
/* tablet and larger screens*/
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding: 1rem;
    }
    #menu {
        display:flex;
    }
}
#logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
}
main {
    margin-top: 79px;
}
@media  screen and (mid-width:992px) {
    #menu a:hover {
        border-bottom: 5px solid #3a3a3a;
    }
    
}



