/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}


/* General style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: rgb(212, 189, 172);
    font-family: 'Lato' , sans-serif;




}

h1 {
    font-family: 'Oswald' , sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #140101;
}



.h1 {
    background-color: rgb(217, 239, 172);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 2px #d52323;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;

}

header {
    background-color: rgb(217, 239, 172);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: rgb(217, 239, 172);
   color: inherit;
}



#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    color: #1c0202;
}

#menu > li {
    margin-bottom: 1em;
    padding-left: 1rem;
}

.active {
    border-bottom: 1px solid #df1212;
}

nav {
    position: absolute;
    background-color: rgb(196, 236, 122);
    width: 100%;
    left: 0;
    padding: 0 2rem;
    box-shadow: 0 2px 2px #ab0505;
    display: none;
    top: 100%;
}
.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    display: none;
}

/* main */
main {
background-color: aqua;
    flex: 1 0 auto;
    margin-top: 40px;


}

.hero {
    width: 100%;
    height: 600px;
    background: url('/images/hero-image/gym-interior.jpg') 
    
    
}

#cover-text {
    
    background-color: yellow;
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 80%;
    height: 200px;
    padding-top: 40px;
    padding-left: 20px;
}



/* footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #e51111;
}

/* tablet and larger screens*/
@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }
}

#logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
}

main {
    margin-top: 79px;
}

#cover-text {
    width: 300px;
    right: 50px;
}

@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 2px solid #3a3a3a;
    }

}