/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}


/* General style */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3a1818;
    font-family:  sans-serif;
     background-image: url('/images/hero-image/pop.jpg'); 
     background-size: cover; 
    background-position: center;




}
.sign-up-form {
    width: 300px;
    box-shadow:  #3a1818 rgba;
    background: #ece4e4;
    padding: 2px;
    margin: 8% auto 0;
    text-align: center;

}
.sign-up-forrm-h1 {
    color: #03090c;
    margin-bottom: 30px;

}
.input-box {
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #150c0c;
    outline: none;
}
button {
    color: #131010;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.sigb-up-btn {
    background-color: #065791;

}
.twitter-btn {
        background-color: #21af;

}
a {
    text-decoration: #065791;
}
hr {
    margin-top: 20px;
    width: 80%;
}
.or {
    background: whitesmoke;
    width: 30px;
}

  .h1 {
    font-size: 210%;
    font-family: 'Oswald' , sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #e53030;
} 
h3 {
    color: #ffff;
} 
h2 {
    color: #065791;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 210%;
}



 /*.h1 {
    background-color: rgb(228, 231, 223);
    padding: 0 1rem;
    position: flex;
    z-index: 99;
    width: 100%;
    box-shadow: 0 3px 2px #221010;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-align: center;

} */

 header {
    background-color: rgb(217, 234, 182);
    padding: 2 1rem;
    position: fixed;
    z-index: 100;
    width: 100%;
    box-shadow: 0 2px 2px #e82525;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
} 

  header a {
    text-decoration: rgb(217, 234, 182);
   color: inherit;
}  



   #menu {
    font-size: 150%;
    letter-spacing: 4px;
    list-style-type: none;
    color: #3a1818;

}  

    #menu > li {
    margin-bottom: 1em;
    padding-left: 1rem;
    width: 100%;   
} 

 /* .active {
    border-bottom: 1px solid #df1212; 
} */
/*id sign up images */

  /* #signup {
     background-image: url('images/hero-image/pop.jpg') no-repeat center center/cover;
    position:relative    */



 nav {
    position: absolute;
    background-color: rgb(196, 236, 122);
    width: 100%;
    left: 0;
    padding: 0 2rem;
    box-shadow: 0 2px 2px #ab0505;
    display: none;
    top: 100%; 
}
 .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%
} 

 #nav-toggle {
    display: none; 
}

 .nav-toggle-label {
    font-size: 2rem;
    display: none;
} 

/* main */
  main {
       background-color: rgb(21, 105, 105);   
    
     /* width: 100%; 
    height: 1000px;    */
} 

 .main-image {
    width: 100%;
    z-index: 0; 
    height: 50%;
     background: url('/images/hero-image/gym-interior.jpg') no-repeat 
     center center/cover;   
    position: relative;
    width: 100%; 
    height: 1000px;    
} 
 .image {
    width: 100%;
     background: url('/images/hero-image/pop.jpg')
    center center/cover;   
    height: 500px;
     position: relative;  } 

.cover-text {
    display: flex;
    flex-direction: column;
    font-size: auto;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 50px;
    margin: 20px;
   }

.titles {
    padding: 15px 5px;
    font-size: 2rem;
}
.reasons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 20px;
}

.gym-time {
    text-align: center;
}
iframe {
    width:300;
    height: 100px;
    
}
 /* #cover-text > h2, #cover-text > h3 {
    color: rgb(202, 72, 12);  */

 /* #physical-benefits > div,
#mental-benefits > div {
    line-height: 20px;
    margin-bottom: 20px;  */

/* #benefits p {
    padding: 0 20px; */

 /* #benefits hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;  */

   img {
      background: url('/assets/images/hero-image/pop.jpg') no-repeat 
    top center / cover; 
    width: 100%;
    border-radius: 50%;
    }
    #gallery {
        width: 50%;
        background-color: #3a1818;
        
    }
    
    














    
    


/* footer */
  .social-networks {
    text-align: center;
    padding: 30px 0;
    display: flex; 
    justify-content: space-around;
    list-style-type: none; 
} 

  .social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #e51111;
    justify-content: space-evenly;
}  

 #menu {
    display: flex; 
}

/* tablet and larger screens*/
 @media screen and (min-width: 344px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    } 

}

 #logo {
    font-size: 280%;
    line-height: 75px;
    margin: 0 0.5rem;
} 


 #cover-text {
    width: 300px;
    right: 50px;   
}

@media screen and (min-width: 768px) {

    #menu a:hover {
        border-bottom: 2px solid #3a3a3a;
    }



    #main-image {
    width: 100%;
    height: auto; } 
  } 
  .your-contacts {
    background-color: #3a1818;
  }
  
  @media  screen and (min-width: 992px) {
    #benefits {
        display: flex;
        flex-direction: row;
    }
    #benefits > div {
        flex: 1;

    }
    #benefit-image {
        order: 0;
    }
    #benefits-mental {
        order: 1;
    }
    #benefits-mental > div {
        align-self: self-start;
        
    }
    #benefits-pysical > div {
        align-self: self-start;
    }
  }
  input {
    color:#df1212;
    position: center;
  }